apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: js-days
  labels:
    app: paint
spec:
  selector:
    app: paint
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 80
  type: LoadBalancer
