name: Azure Container Instances

on:
  workflow_dispatch:
env:
  REGISTRY: jsdays.azurecr.io
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - uses: azure/docker-login@v1
      with:
        login-server: ${{ env.REGISTRY }}
        username: ${{ secrets.ACR_USER }}
        password: ${{ secrets.ACR_TOKEN }}
    - run: |
        docker build . -t ${{ env.REGISTRY }}/paint:${{ github.sha }}
        docker push ${{ env.REGISTRY }}/paint:${{ github.sha }}

    - name: 'Deploy to Azure Container Instances'
      uses: 'azure/aci-deploy@v1'
      with:
        resource-group: rg-thh-jsdays-hosting
        dns-name-label: paint-aci
        image: ${{ env.REGISTRY }}/paint:${{ github.sha }}
        registry-username: ${{ secrets.ACR_USER }}
        registry-password: ${{ secrets.ACR_TOKEN }}
        name: jsdays-live
        location: 'northeurope'
